<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Student Card <%= user.username %> </title>
</head>

<body>


    <h1 class="main-header">Student Card <%= user.username %></h1>

    <a class="button" href="/findTeachers">Find Teachers</a>

    <table border="1">
        <thead>
            <th>No</th>
            <th>Teacher Name</th>
            <th>Field</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </thead>

        <tbody>
            <% userTeachers.forEach((el,idx) => { %>
            <tr>
                <td><%= idx+1 %> </td>
                <td><%= el.Teacher.fullName %> </td>
                <td><%= el.Teacher.field %> </td>
                <td><%= formatDate(el.date) %> </td>
                <td><%= el.status %> </td>
                <td>
                    <a class="button" href="/cancel/<%= el.id %> ">Cancel</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>


</body>

</html>